
# PlanAhead Generated IO constraints 

NET "CLK" IOSTANDARD = LVCMOS33;
NET "D0" IOSTANDARD = LVCMOS33;
NET "D2" IOSTANDARD = LVCMOS33;
NET "D1" IOSTANDARD = LVCMOS33;
NET "D3" IOSTANDARD = LVCMOS33;
NET "Q0" IOSTANDARD = LVCMOS33;
NET "Q1" IOSTANDARD = LVCMOS33;
NET "Q2" IOSTANDARD = LVCMOS33;
NET "Q3" IOSTANDARD = LVCMOS33;
NET "S0" IOSTANDARD = LVCMOS33;
NET "S1" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

INST "CLK_BUFGP" LOC = Y16;
NET "CLK" LOC = Y16;
NET "D0" LOC = T16;
NET "D1" LOC = W13;
NET "D2" LOC = P15;
NET "D3" LOC = G15;
NET "Q0" LOC = D18;
NET "Q1" LOC = G14;
NET "Q2" LOC = M15;
NET "Q3" LOC = M14;
NET "S0" LOC = P16;
NET "S1" LOC = R18;

NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE; 
